# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# 빌드 시점 다운로드되는 맛집 실제 사진 (매 배포 시 재생성)
/public/photos/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
